{% extends 'base.html' %}
{% block title %}
<title>Добавлення</title>
{% endblock %}
{% block body %}
<div class="container">
    <h1>Добавлення товару</h1>
    <form method="post">
        <input type="file" class="form-control" name="image" id="image">
        <input type="text" class="form-control" name="title" id="title">
        <input type="number" class="form-control" name="price" id="price">
        <input type="text" class="form-control" name="text" id="text">
        <input type="" class="form-control" name="price" id="price">
        <button class="btn btn-success" type="submit">Добaвити товаp</button>
    </form> I
</div>
{% endblock %}