{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block title %}
    <title>Магазин</title>
{% endblock %}

{% block body %}
    <a href="/" class="logo">Market</a>
    <nav class="navMenu">
        <a href="/">Home</a>
        <a href="#">Work</a>
        <a href="/about">About</a>
        <div class="dot"></div>
        </nav>

    <form action="" class="search-bar">
	<input type="search" name="search" pattern=".*\S.*" required>
	<button class="search-btn" type="submit">
		<span>Search</span>
	</button>
</form>
    {{ data }}


{% endblock %}